<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">


<title>Ubuntu Installation</title>

<h2>Installation of ubuntu 19.04(Disco Dingo)</h2>
<div class="container">

  <div class="row">
    <div class="col">
        <span>
            <b>Finally</b> , Ubuntu 19.04 has been released for Desktop, Cloud , Server and other instances, Ubuntu 19.04 will be supported 
            9 months until january 2020,if you need a long term support , it is recommended you use Ubuntu 18.04 LTS instead.
        </span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>
       
        <div>
          <hr>
              <p>Download Ubuntu 19.04 ISO Image , Which you can get from following link</p>

             <a href="https://ubuntu.com/download/desktop" target="_blank">https://ubuntu.com/download/desktop</a>
     
        </div>
      </span>
    </div>

  </div>
<hr>
  <h3 style="color:blue;padding-top:2%;">Ubuntu 19.04 Installation Guides</h3>
  

<table>
  <tr>
    <td>
        <b>Step 1:</b>
        <p>
          The First step you need to in order to install Ubuntu 19.04 is to burn an Ubuntu ISO Image with Compatible USB Drive, then insert Bootable Media into your appropriate drive
  
  
        </p>
  
    </td>
  </tr>
  
  <tr>
      <td>
          <b>Step 2:</b>
          <p>
             After Machine Boot Media Press  the ESC to get GRUB Menu Screen
          </p>
      </td>
    </tr><br>
    <tr>
        <img src="assets/images/ubuntu/grubmenu.png" alr="error">
    </tr>

   <br><br>
    <tr>
        <b>Step 3:</b>
    <p>Next Step choose language for your system, and press continue button to go ahead</p>
   
    </tr>

    <tr>
        <img src="assets/images/ubuntu/keyboardlayout.jpg" alr="error">
    </tr>

    <br><br>
    <tr>

        <b>Step 4:</b>
        <p>on next step , you have to go with Install Ubuntu Option , if you go with Try Ubuntu  option ,it will be redirected you system live environment,
          so be carefull in selecting option other wise you reiterate entire steps
        </p>
    </tr>

    <tr>
        <img src="assets/images/ubuntu/first.png" alr="error">
    </tr>
    <br><br>
    <tr>
        <b>Step 5:</b>
  <p>you have to carefully select option here else you messed up with your system, if you go with <b>Erase disk and Install Ubuntu option,</b> it will erase your entire hard drive and installed fresh ubuntu on your hard drive,
  if you go with <b>Something else </b> option then system will install fresh ubuntu ,but it will not deleterious your personal data or files
  </p>
 
    </tr>

    <tr>
        <img src="assets/images/ubuntu/second.png" alr="error">

    </tr>
    <br><br>
    <tr>
        <b>Step 6:</b>
        <p>
          Next, the installer check if your system has internet connectivity and ask you for installation, Select Normal and check tick <b>Download updates while installing ubuntu</b> , actually what this tick do it check and found new packages then installer will install all these packages along with ubuntu installation
        </p>
    </tr>

    <tr>
        <img src="assets/images/ubuntu/third.png" alr="error">
    </tr>
    <br><br>
    <tr>
        <b>Step 7:</b>
        <p>
          now here you have to click on continue button for installation , but if you changed your decision and want to go with other installation type then click on go back button 
          to select other installation type
        </p>
      
    </tr>

    <tr>
        <img src="assets/images/ubuntu/four.png" alr="error">

    </tr>
    <br><br>
    <tr>
        <b>Step 8:</b>
        <p>
          as You can now see Ubuntu 19.04 is installing
        </p>
    </tr>

    <tr>
        <img src="assets/images/ubuntu/five.jpg" alr="error">
    </tr>
    <br><br>
    <tr>
        <b>step 9:</b>
        <p>
          when this screen comes up on your machine screen , that means you have to provide some details related your account,and then click on Continue button for further installation
        </p>
    </tr>

    <tr>
        <img src="assets/images/ubuntu/six.png" alr="error">
    </tr>

    <tr>
        <p style="padding-left:120px;color:blue;padding:2%;margin:2%;">That's all, you have installed Ubuntu 19.04 on your machine,please stay tuned for next article related Ubuntu 19.04 </p>
    </tr>
</table>

</div>
