<link href="https://fonts.googleapis.com/css?family=Hepta+Slab|Roboto+Slab&display=swap" rel="stylesheet">
<title>Ubuntu Installation</title>
<div class="container">
  <div class="row">
    <div class="col">
      <span>
       
        <div>
          <mat-card>
            <mat-card-actions>
              <mat-card-header>
                  <b>Recomended Minimum System Requirements</b>
              </mat-card-header>
            </mat-card-actions>
              <p>
                  1.90 GHx or Above Processor,<br>
                  RAM Must Be at least 1 gb,<br>
                  minimum 5GB Storage  ,</p>
    
          </mat-card>
    
        </div>
      </span>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <img src="assets/images/ubuntu/first.png" alr="error">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="assets/images/ubuntu/second.png" alr="error">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="assets/images/ubuntu/third.png" alr="error">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="assets/images/ubuntu/four.png" alr="error">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="assets/images/ubuntu/five.jpg" alr="error">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="assets/images/ubuntu/six.png" alr="error">
    </div>
  </div>
</div>