<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col">
       
          <h4>Privacy Policy</h4>

          <p>
            This site <a href="#">https://visionrosetta.in</a> host the project, document and tutorials related linux, node js , angular, SSH ,..etc,
            largely compiled and mainted by Shaharukh Parmar, here we do not ask our user for any registration
          </p>

          <h4>Log Files</h4>
          <p>
            VisionRosetta not collect any kind of user personal data even(email, mobile, name)

          </p>

          <h4>Cookies</h4>
          <p>
            this site is not collecting user personal data so no question raise to store user data in cookie to share user data to the third party company or any anonymous for gain
          </p>
   
    </div>
  </div>
</div>