<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>Footer</title>
  </head>

  <body>
        <div class="footer">

                              <div class="container">
                                 <div class="row">
                                     <div class="col"><br>
 
                                        <h6 style="color:white;"> <i class="fas fa-copyright"></i> 2019 Vision Rosetta</h6>
                                        <br>
                                        <a href="#"> 
                                            About
                                        </a>
                                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe3WAXu-jMXdl7hVGzhlNkENdGHJqwMx7iES8BHQyKZpe4XUA/viewform?usp=sf_link">
                                            Contact
                                        </a>
                                        <a routerLink="">
                                            Sitemap
                                        </a>
                                        <a routerLink="privacy">
                                            Privacy
                                        </a>
                                        <a href="#">
                                            Terms
                                        </a>
                                        <br><br>
                           
                                     </div>
                                 </div>
                             </div>
                             

                  
                </div>

          
  </body>
</html>
