<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>Footer</title>
  </head>

  <body>
      <!-- footer -->
     <footer  style="background-color: #2c292f">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 text-center text-md-left ">

                    <div class="py-0">
                        <h4 class="my-4 text-white">About<span class="mx-2 font-italic text-warning ">Vision Rosetta

                           </span></h4>

                             <h6 style="color:white;"> <i class="fas fa-copyright"></i> 2019 All Right Reserved</h6>

                    </div>
                </div>

                <div class="col-md-4 text-white text-center text-md-left ">
                    <div class="py-2 my-4">
                        <div>
                            <p class="text-white"> <i class="fa fa-map-marker mx-2 "></i>
                                    Palanpur</p>
                        </div>

                        <div>
                            <p><i class="fa fa-phone  mx-2 "></i> +91 7621938126</p>
                        </div>
                        <div>
                            <p><i class="fa fa-envelope  mx-2"></i><a href="mailto:support@eduonix.com">shaharukh@visionrosetta.in</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-white my-4 text-center text-md-left ">
                    <span class=" font-weight-bold ">About the Company</span>
					<p class="text-warning my-2" >We are Providing Exposure to empower individuals and Push their Limits</p>

                </div>
            </div>
        </div>
     </footer>

  </body>
</html>
