<link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="assets/images/error.jpeg">
    </div>
    <div class="col-sm">
      <h2>Opps!</h2>
    <h4>Sorry , the page not found</h4>
    <p>
      We Can't find the page you're looking for <br>
      you can either return to the previous page, visit our homepage.<br>
      or  contact our support team.
    </p>

    <div>
    <button mat-raised-button (click)="NavigateHomepage()">Visit Homepage</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="NavigateToContact()">Contact Us</button>
   
  </div>
    </div>
  </div>
</div>
