 .container{
     padding-top: 100px;
 }

h6{
    font-family: 'Hepta Slab', serif;
  
   }

   span,p{
    font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;


    Font-weight: 400;

    font-size: 18px;
   
}


li{
    list-style: none;
} 
img{
    width:70%;
    height:70%;
}