<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">


<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <form [formGroup]="PasswordSet">

          <div class="form-group" style="margin:4%;">

              <div>
                  <h5 style="font-family: 'Source Serif Pro', serif;">Reset Password</h5>
              </div><hr><br>

              <div>
                  <label>New Password</label>
                  <input type="password" class="form-control"formControlName="newPassword" required #newpassword placeholder="New password">

                  <mat-error *ngIf="isFieldInvalid('newpassword')">Enter Password</mat-error>

              </div><br><br>

              <div>
                  <label> Password</label>
                  <input type="password" class="form-control" formControlName="reenterPassword" required #email placeholder="Confirm password">

              <br><br>
                <button type="button" mat-raised-button color="primary" (click)="PasswordStore(newpassword.value)">Update Password</button>
                 <mat-error *ngIf="isFieldInvalid('newpassword')">Reenter Password Required</mat-error>
               </div>

          </div>



    </form>

   </div>
  </div>
</div>
