<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>Protfolio</title>
  </head>

  <body>
 <div style="margin:0%;width:100%;margin-top:8%;">
     <header style="background-color: #4682B4">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 text-center text-md-left ">

                        <h6 class="my-4 text-white"> Online Preparation<span class=" "> For Competitive Exam</span></h6>

                 </div>
               </div>

        </div>
      </header>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="slider">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="assets/images/FrontImage.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="assets/images/FrontImage.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="assets/images/FrontImage.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
        </div>
          </div>
</div>


<div class="container">


   <div class="row">

    <div class="col-md-8">
      <h4>Overview</h4>
      <div>

          in this project we have developed platform for preparation of competitive exam ,whay have to do become part of this career journey,
          individual have to register one time and next time through login they can access all exclusive or provided resources on platform ,
          especially student can give test on daily bases to boost their performance for exam
      </div>
    </div>

    <div class="col-sm">
     <div class="card" style="width: 18rem;">
       <div class="card-body">
          <h4>Details</h4>

          <p><i class="fas fa-language"></i>
            Languages
          </p>
          <ul>
            <li>Javascript</li>
            <li>CSS</li>
            <li>HTML</li>
            <li>Node Js</li>

          </ul>

          <p><i class="fas fa-plug"></i>  Framework</p>
          <ul>
            <li>Express 4</li>

          </ul>

          <p><i class="fas fa-database"></i>  Database</p>
          <ul>
            <li>Mongo DB </li>

          </ul>
       </div>
     </div>
</div>

</div>

</div>

  </body>
</html>
