<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">



<div class="container">
  <label style="margin-left:2%;font-size:203%;margin-top:20%;   font-family: 'Playfair Display', serif;">Really Appreciate your Endeavor</label>
  <div class="row">
    <div class="col-sm">
      <mat-card class="mat-card">

        <div>
            <ul><p style="color:blue;">Important Notes Regarding Post Publishing</p>
                <li style="font-family: 'Source Serif Pro', serif;">Publish Post not available immediately to the world ,it will be availabled within short time</li>
               <li style="font-family: 'Source Serif Pro', serif;" >follow all rules and regulation as declared on post publishing</li>
        
              </ul>

        </div>
        <button style="margin-left:40%;" type="button" (click)="Navigates()" mat-raised-button color="primary">Start Test</button>
        <br><br>
        </mat-card>
    </div>
  </div>
</div>
