<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

<title>Ubuntu Installation</title>

<div class="container">
<div class="card" style="width:60rem;padding:1%;margin:1%;">
    <h2 style="color:black;">How to Install Node Js and NPM On Ubuntu with PPA</h2>

          <hr>
        <div class="row">
          <div class="col">
              <span>
                  <b>Node Js</b> , is a opensource, cross-platform build on chrome v8 javascript runtime environment for easily buidling application, scalable netwrok application 
                </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span>
             
              <div>
              <br>
                <img style="width:50%;height:50%" src="assets/images/nodejs/nodebrand.png" alt="error">
           
              </div>
            </span>
          </div>
      
        </div>
      
        <hr>
        Download Node Js From Following Link<br>
        <a href="https://nodejs.org/en/" target="_blank">https://nodejs.org/en/</a>
      <hr>
        <h3 style="color:blue;padding-top:2%;">Node Js Installation Guides</h3>
        
      
      <table>
        <tr>
          <td>
              <b>Step 1 :<span>Add Node Js PPA</span></b><hr>
              <div style="background-color:#E6E9EC;">
              <p><br>
                $ sudo apt-get install curl
              </p>
              <p>
                $ curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -

              </p>
            </div>
          </td>
        </tr>
        
        <tr>
            <td>
                <b>Step 2:Install Node Js On Ubuntu</b><hr>
                <p>
                   After successfully add Node.Js PPA to Ubuntu System, now go ahead and execute following command  to install Node.Js using  apt-get, This 
                   will also install Node.Js with NPM
                </p>

                <div style="background-color:#E6E9EC;padding:1%;margin:1%;">
                  <br>
                
                  <p>
                    $ sudo apt-get install nodejs
    
                  </p>
                </div>
            </td>

          </tr><br>
          <tr>
              <img src="assets/images/nodejs/first.png" alr="error">
          </tr>
      
         <br><br>
          <tr>
              <b>Step 3: Check Node Js & NPM Version</b><br><br><hr>
              <p>
                move ahead and type given below command to check the installed version of Node Js and NPM
              </p>
              <h6 style="color:blue;">check for node js version</h6>
              <div style="background-color:#E6E9EC;">
               
                <p><br>
                  $ node -v
                </p>
                <p>
                    v12.2.0

                </p>
               
              
              </div>
          </tr>

          <tr>
            <td>
                <h6 style="color:blue;">also, check npm version</h6>

                <div style="background-color:#E6E9EC;">
           
                       <p>
                          npm -v  
                    </p>
                    <p>
                        6.10.0
    
                    </p>
                  </div>
            </td>
          </tr>
      
          <tr>
              <img src="assets/images/nodejs/second.png" alr="error">
          </tr>
      
          <br><br>
           <tr>
             <p>you have successfully installed Node Js on your Ubuntu System , Stay Tuned to get another post releated to nodejs</p>
           </tr>
      </table>
      
      </div>
    </div>