<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">


<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-z col-xl-6">



      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title  style="font-family: 'Source Serif Pro', serif;margin-right:0;">
            Forgot Password
          </mat-card-title>
        </mat-card-header>

        <form [formGroup]="Forget">
        <mat-form-field class="example-full-width">
          <input type="email" style="width: 80%;" matInput formControlName="email" required #email placeholder="Enter Your email to Recover Password">
          <mat-error>Email is Required</mat-error>
         </mat-form-field>
        </form><br><br>
        <button type="button" mat-raised-button color="primary" (click)="resetLink(email.value)">Reset Password</button>
      </mat-card>

    </div>
  </div>
</div>
