<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div id="google_translate_element"></div>
<div class="navbarsetting">
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#2C3E50;color:white;">
      <img src="assets/images/favicon.ico" style="width:4%;height:4%;">

       <a class="navbar-brand" style="margin-left: 1%;">Vision Rosetta</a>
        <button class="navbar-toggler" type="button" style="background-color: blue;"  mat-stroked-button (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <i class="fa fa-bars" aria-hidden="true"></i>

        </button>

        <div style="margin-left:2%" class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed" >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link"  routerLink=""><i class="fa fa-home" aria-hidden="true"></i>
                HOME <span class="sr-only">(current)</span></a>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" [ngbCollapse]="isCollapsed" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fa fa-wrench" aria-hidden="true"></i>

                  TUTORIALS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item">ANGULAR 7</a>
                   <a class="dropdown-item">WINDOWS</a>
                   <a class="dropdown-item">NODE JS</a>
                   <a class="dropdown-item">DEVELOPMENT TOOLS</a>
 
            </div>

            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" [ngbCollapse]="isCollapsed" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="fa fa-wrench" aria-hidden="true"></i>
  
                    UBUNTU 19.04
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item">Installl Git</a>
                    <a class="dropdown-item">Install NODE.JS</a>
                    <a class="dropdown-item">Install Java</a>
                     <a class="dropdown-item">Install VS Code</a>
                     <a class="dropdown-item">Install Angular CLI</a>
   
              </div>
  
              </li>

   
               <li class="nav-item active">
                          <a class="nav-link" routerLink="portfolio"><i class="fa fa-briefcase" aria-hidden="true"></i>
                            PORTFOLIO<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                          <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSe3WAXu-jMXdl7hVGzhlNkENdGHJqwMx7iES8BHQyKZpe4XUA/viewform?usp=sf_link"><i class="fa fa-briefcase" aria-hidden="true"></i>
                            CONTACT <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                          <a class="nav-link" routerLink="support"><i class="fa fa-briefcase" aria-hidden="true"></i>
                            SUPPORT<span class="sr-only">(current)</span></a>
                        </li>
          </ul>


        </div>
      </nav>


</div>

