
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="card_align">
<div class="container">
  <div class="row">
    <div class="col-sm col-md-offset-2" style="margin:2%;">

      <div class="card" style="width:14rem;">
       <a class="nav-link" (click)="online_preparation()"> <img src="assets/images/homesecondimage.jpg" height="20%" width="100%;" alt="Exam" ></a>
        <p>Online Preparation</p>

      </div>
    </div>
    <div class="col-sm col-md-offset-2" style="margin:2%;">

      <div class="card" style="width:14rem;">

        <img src="assets/images/homesecondimage.jpg" height="20%" width="100%;" alt="Avatar" >
        <p>Stock Market</p>

      </div>
    </div>
    <div class="col-sm col-md-offset-2" style="margin:2%;">

      <div class="card" style="width:14rem;">
        <img src="assets/images/homesecondimage.jpg" height="20%" width="100%;" alt="Avatar" >
        <p>Aprtment Management</p>

      </div>
    </div>
    <div class="col-sm col-md-offset-2" style="margin:2%;">

      <div class="card" style="width:14rem;">
        <img src="assets/images/homesecondimage.jpg" height="20%" width="100%;" alt="Avatar" >
        <p>Graphics Tools</p>

      </div>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
