<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px&display=swap" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-sm" style="margin:2%;">
        <div class="card" style="width:70rem;">

          <div class="card-body">
           
            <div *ngFor="let post of post_collection">
                <a href="#"><h4>{{post.Subject }}</h4></a>
                <h5>{{post.Message}} </h5>
        
               <div >
                <button mat-raised-button (click)="Post_Like(post.Post_Id)">Like</button>
                <label>{{post.Likes}}</label>
                <button mat-raised-button >Dislike</button>
                <label>{{post.Dislike}}</label>
               </div>

                <hr>
            </div>
 
                <p></p>

              </div>
            
          </div>
    </div>
    </div>
    </div>
    
     