
body{
  padding:0%;
  margin:0%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height:100%;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h4{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;


}

.container{
  margin-top:10%;
}

p{
  padding:2%;
  margin:2%;
}
