<link href="https://fonts.googleapis.com/css?family=Hepta+Slab|Roboto+Slab&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans|Roboto|Source+Sans+Pro&display=swap" rel="stylesheet">

<div class="container">
    <div class="row">
      <div class="col-sm" style="margin:2%;">
          <div class="card" style="width:18rem;">

            <div class="card-body">
              <h4>How  To install the Ubuntu Linux 19.04 LTS</h4>

                  <a routerlink="/ubuntu_installation-19-04" href="ubuntu_installation-19-04"><img src="assets/images/ubuntuinstallation.png" width="100%%" height="50%"></a>
                  <p>in this tutorials i am going to show you how to install ubuntu linux 19.04 LTS from Live USB  <a routerLink="/ubuntu_installation-19-04"> Continue...</a></p>

                </div>
              
            </div>
      </div>
      <div class="col-sm" style="margin:2%;">
          <div class="card" style="width:18rem;">

              <div class="card-body">
                <h4>How  To install Node Js on Linux</h4>

                    <a  routerlink="/ubuntu/nodejs_installation" href="nodejs_installation"><img src="assets/images/nodejs.png" width="100%%" height="50%"></a>
                    <p>in this post we will learn how to install Node Js on linux distros with help of terminal<a routerLink="nodejs_installation">Continue...</a></p>

                  </div>
              </div>
      </div>
      <div class="col-sm" style="margin:2%;">
          <div class="card" style="width:18rem;">

              <div class="card-body">
                <h4 
                    >How  To install the Open SSH On Linux</h4>

                    <a href="openssh" routerLink="/openssh"><img src="assets/images/openssh.gif" width="100%%" height="50%"></a>
                    <p> Open SSH  is used to keep communication secret on network with perpetually scanner packages<a routerLink="/openssh"> Continue..</a></p>

                  </div>
              </div>
      </div>
    </div>
</div>
    <div style="margin:0%;width:100%;margin-top:2%;">
        <header style="background-color: #4682B4">
           <div class="container">
              <h3 style="text-align: center;color:white;padding:2%;margin:2%;font-family: 'Merriweather', serif;line-height: 45px;font-size: 20px;">Recent Post On Windows</h3>
             <br><br>
               <div class="row ">
                   <div class="col-md-4 text-center text-md-left ">
                     
                      
                    </div>
                  </div>

                  <table>
                    <tr>
                      <td>
                           
                                  <div class="card" style="width:20rem;">
                                        
                                    <div class="card-body">
                                        <h4 >Install Putty on Windows</h4>
          
                                        
                              <p>in this post we will learn how to install putty on windows machine and learn basic command to accomplish our task </p>
                                    </div>
                                    
                                  </div>
           

                     </td>

                      <td style="padding:4%;margin:4%;">

                  
                     
                      <div class="card" style="width:20rem;">
                        <div class="card-body">
                            <h4>Install NMAP on Windows</h4>
                            <p>in this tutorials we will learn how to install Nmap on windows and how can we use it to scan network 
                                and 
                              </p>
 
                      </div>
                    </div>
                   
                  

                      </td>

                      <td>
                          <div class="card" style="width:20rem;">
                            <div class="card-body">
                          <h4>How  To install the Nginx on Linux </h4>

                          <p>Nginx is web server used as reverse proxy ,load balancer and HTTP Cache </p>

                           </div>
                          </div>
                      </td>
                    </tr>
                  </table>
                  
                 

   
           </div><br><br><br><br><br>
 
         </header>
       </div>
<br><br>